---
import PostsList from '@/components/PostsList.astro';
import Layout from '@/layouts/Layout.astro';
import { SITE_TITLE } from '@/consts';
import { getAllTags } from '@/lib/posts';

type Props = { tag: string };

export async function getStaticPaths() {
  const tags = await getAllTags();

  return tags.map((tag) => ({
    params: { id: tag },
    props: { tag: tag },
  }));
}

const { tag } = Astro.props;
---

<Layout title={`#${tag} - Tags - ${SITE_TITLE}`}>
  <h1>#{tag}</h1>

  <PostsList tag={tag} />
</Layout>
