:root {
  color-scheme: light dark;
  --accent: 215, 58, 73;
  --background-color: 235, 235, 235;
  --color: 25, 25, 25;

  @media (prefers-color-scheme: dark) {
    --accent: 249, 117, 131;
    --background-color: 25, 25, 25;
    --color: 235, 235, 235;
  }
}

@media not (prefers-reduced-motion) {
  @view-transition {
    navigation: auto;
  }
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  accent-color: rgb(var(--accent));
  background-color: rgb(var(--background-color));
  color: rgb(var(--color));
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  overflow-wrap: break-word;
  overflow-y: scroll;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}

::selection {
  background-color: rgba(var(--accent), 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-wrap: balance;
}

h1,
.h1 {
  font-size: 2.5rem;
  margin-block-end: 1rem;
}

h2 {
  font-size: 2rem;
  margin-block-end: 1rem;
  margin-block-start: 3rem;
}

h3 {
  font-size: 1.5rem;
  margin-block-start: 2rem;
}

h4 {
  font-size: 1.25rem;
  margin-block-start: 1.5rem;
}

a {
  color: rgb(var(--color));
  text-decoration-color: rgba(var(--color), 0.5);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-skip: edges;

  @media not (prefers-reduced-motion) {
    transition-property: color, text-decoration-color;
    transition-duration: 0.1s;
  }

  &:focus-visible,
  &:hover {
    color: rgb(var(--accent));
    text-decoration-color: rgba(var(--accent), 0.5);
  }
}

p {
  margin-bottom: 1em;
}

table {
  width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

time {
  display: inline-block;
  margin-block-start: 0.5rem;
}

code {
  padding: 0.25rem;
  background-color: rgba(var(--accent), 0.15);
  border-radius: 2px;
  font-size: 1.125rem;
}

pre {
  padding: 1.5em;
  border-radius: 0.5rem;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 0.25rem solid rgb(var(--accent));
  padding: 0;
  padding-inline-start: 1.5rem;
  margin: 0;
  font-style: italic;
}

hr {
  border: none;
  border-block-start: 1px solid rgb(var(--color));
}

.astro-code,
.astro-code span {
}

.astro-code {
  counter-reset: step;
  counter-increment: step 0;

  &,
  span {
    font-size: 0.825rem;

    @media (prefers-color-scheme: dark) {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }

  &[data-language='text'] {
    white-space: pre-wrap;
  }
}

.astro-code:has(.line:nth-child(4)) .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgb(var(--color), 0.5);
}
