---
import BaseHead from '../components/BaseHead.astro';
import PostsList from '../components/PostsList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header>
      <a href="/til"><h1 class="logo">TIL</h1></a>
    </header>

    <main transition:animate="fade">
      <PostsList />
    </main>
  </body>
</html>
