---
import type { CollectionEntry } from 'astro:content';

import PostHeader from '@/components/PostHeader.astro';

type Props = CollectionEntry<'posts'>['data'] & { slug: string };

const { title, description, pubDate } = Astro.props;

const structuredData = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  headline: title,
  creator: 'Christopher Parsons',
  description: description,
  datePublished: pubDate,
};
---

<article>
  <script is:inline type="application/ld+json" set:html={JSON.stringify(structuredData)} />

  <PostHeader {...Astro.props} />

  <div class="content">
    <slot />
  </div>
</article>

<style>
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Start slightly below the final position */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End at the final position */
    }
  }

  .content {
    @media not (prefers-reduced-motion) {
      opacity: 0;
      animation: fadeInUp 0.25s ease-out forwards;
      /* animation-delay: 0.25s; */
    }

    @media (min-width: 48rem) {
      margin-inline-start: 12rem;
      margin-block-start: 3rem;
    }
  }
</style>
