---
import { getCollection } from 'astro:content';

import PostHeader from '@/components/PostHeader.astro';

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<nav>
  <ul class="list">
    {
      posts.map((post) => (
        <li>
          <PostHeader isLink={true} slug={post.slug} {...post.data} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 4rem);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
