---
import { getCollection } from 'astro:content';

type Props = { tag?: string; top?: number };

import PostHeader from '@/components/PostHeader.astro';
import RecentlyRead from '@/components/RecentlyRead.astro';

const { tag, top = 1 } = Astro.props;

const showTop = tag ? Infinity : top;

const posts = (await getCollection('posts'))
  .filter((t) => !tag || t.data.tags.includes(tag))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<ul class="list">
  {
    posts.slice(0, showTop).map((post) => (
      <li>
        <PostHeader isLink={true} id={post.id} {...post.data} />
      </li>
    ))
  }
</ul>

{
  !tag && (
    <>
      <RecentlyRead />

      <ul class="list">
        {posts.slice(showTop).map((post) => (
          <li>
            <PostHeader isLink={true} id={post.id} {...post.data} />
          </li>
        ))}
      </ul>
    </>
  )
}

<style>
  .list {
    --gap: clamp(2rem, 5vw, 4rem);

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: var(--gap);
    padding: 0;
  }

  .list ~ .list {
    margin-block-start: var(--gap);
  }
</style>
