---
import { type CollectionEntry } from 'astro:content';

type Props = {
  nextPost?: CollectionEntry<'posts'>;
  prevPost?: CollectionEntry<'posts'>;
};

const { nextPost, prevPost } = Astro.props;
---

<nav class="navigation" aria-label="Post navigation">
  {
    prevPost && (
      <div class="previous nav-link-container">
        <a aria-label="Previous post" href={`/posts/${prevPost.id}/`} class="nav-link">
          <b>← Previous post</b>
          <br />
          {prevPost.data.title}
        </a>
      </div>
    )
  }
  {
    nextPost && (
      <div class="next nav-link-container">
        <a aria-label="Next post" href={`/posts/${nextPost.id}/`} class="nav-link">
          <b>Next post →</b>
          <br />
          {nextPost.data.title}
        </a>
      </div>
    )
  }
</nav>

<style>
  .navigation {
    display: flex;
    gap: 2rem;
    margin-block-start: clamp(4rem, 6vw, 6rem);
  }

  .nav-link-container {
    flex-grow: 1;
  }

  .nav-link {
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
  }

  .previous {
    text-align: left;
  }

  .next {
    text-align: right;
  }
</style>
