---
import { getAllTags } from '@/lib/posts';

const tags = await getAllTags();
---

<ul class="tags-list">
  {
    tags.map((tag) => (
      <li>
        <a href={`/tags/${tag}/`}>{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  .tags-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
