---
import Layout from '@/layouts/Layout.astro';
import { SITE_TITLE } from '@/consts';
---

<Layout title={`Page not found - 404 - ${SITE_TITLE}`}>
  <h1>Page not found - 404</h1>
  <p>Whoops. This page doesn't exist.</p>
</Layout>
