---
import BaseHead from '@/components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

type Props = { description?: string; isRoot?: boolean; title?: string };

const { description, isRoot = false, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title ?? SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
  </head>
  <body class="body">
    <header class="container">
      <a class="link" href="/til/">
        {isRoot ? <h1 class="logo">{SITE_TITLE}</h1> : <span class="logo">{SITE_TITLE}</span>}
      </a>
    </header>

    <main class="container main">
      <slot />
    </main>

    <footer class="container footer">
      <small>&copy; Christopher Parsons</small>

      <a aria-label="cwparsons' GitHub profile" href="https://github.com/cwparsons">
        <svg height="24" aria-hidden="true" viewBox="0 0 24 24" width="24">
          <path
            fill="currentColor"
            d="M12.5.75C6.146.75 1 5.896 1 12.25c0 5.089 3.292 9.387 7.863 10.91.575.101.79-.244.79-.546 0-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014 1.553.834 1.769 1.179 1.035 1.74 2.688 1.25 3.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678 0-1.25.445-2.285 1.178-3.09-.115-.288-.517-1.467.115-3.048 0 0 .963-.302 3.163 1.179.92-.259 1.897-.388 2.875-.388.977 0 1.955.13 2.875.388 2.2-1.495 3.162-1.179 3.162-1.179.633 1.581.23 2.76.115 3.048.733.805 1.179 1.825 1.179 3.09 0 4.413-2.688 5.39-5.247 5.678.417.36.776 1.05.776 2.128 0 1.538-.014 2.774-.014 3.162 0 .302.216.662.79.547C20.709 21.637 24 17.324 24 12.25 24 5.896 18.854.75 12.5.75Z"
          ></path>
        </svg>
      </a>
    </footer>
  </body>
</html>

<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
  }

  .link {
    display: block;
    width: max-content;
  }

  .logo {
    display: inline-block;
    font-size: var(--font-size-xxl);
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }

  .container {
    margin-inline: auto;
    margin-block-start: clamp(2rem, 6vw, 4rem);
    max-width: 60rem;
    width: calc(100vw - 2rem);
  }

  .main {
    flex-grow: 1;
  }

  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 2rem;
  }
</style>
